
Redirect 301 /post/87190732/install-otf-fonts-in-openoffice http://jasonwryan.com/blog/2009/03/17/install-otf-fonts-in-openoffice/
Redirect 301 /post/235687709/changing-karmics-login-screen http://jasonwryan.com/blog/2009/11/07/changing-karmics-login-screen/
Redirect 301 /post/251222945/dzen2-and-conky-cli-in-dwm http://jasonwryan.com/blog/2009/11/21/dzen2-and-conky-cli-in-dwm/
Redirect 301 /post/289830140/patching-dwm-with-pertag-and-bstack http://jasonwryan.com/post/289830140/patching-dwm-with-pertag-and-bstack
Redirect 301 /post/303470948/changing-keybindings-in-vifm http://jasonwryan.com/blog/2009/12/28/changing-keybinds-in-vifm/
Redirect 301 /post/320721668/tmux-terminal-multiplexer http://jasonwryan.com/blog/2010/01/07/tmux-terminal-multiplexer/
Redirect 301 /post/327549146/dotfiles http://jasonwryan.com/blog/2010/01/11/using-dropbox-to-share-dotfiles/
Redirect 301 /post/2717707674/intuxication http://jasonwryan.com/blog/2010/02/10/using-mercurial-to-share-dotfiles/
Redirect 301 /post/401730367/caps-lock http://jasonwryan.com/blog/2010/02/21/capslock/
Redirect 301 /post/409379904/wikipedia http://jasonwryan.com/blog/2010/02/25/wikipedia-discriminates-against-foss/
Redirect 301 /post/413898557/uzbl http://jasonwryan.com/blog/2010/02/27/using-uzbl/
Redirect 301 /post/421618180/patching-dwm http://jasonwryan.com/blog/2010/03/02/patching-dwm/
Redirect 301 /post/566999075/vapourware http://jasonwryan.com/blog/2010/04/03/vapourware/
Redirect 301 /post/911160906/mail http://jasonwryan.com/blog/2010/08/06/mailers/
Redirect 301 /post/618038288/browsers http://jasonwryan.com/blog/2010/05/21/browsers/
Redirect 301 /post/1203000683/awk-notes http://jasonwryan.com/blog/2010/09/28/command-line-notes/
Redirect 301 /post/1233829137/tmux-a http://jasonwryan.com/blog/2010/10/03/sessions-in-tmux/
Redirect 301 /post/1260114449/vimprobable http://jasonwryan.com/blog/2010/10/07/vimprobable/
Redirect 301 /post/1240576133/setup http://jasonwryan.com/blog/2010/10/04/the-setup/
Redirect 301 /post/1364783597/fonts http://jasonwryan.com/blog/2010/10/21/console-fonts-in-ubuntu/
Redirect 301 /post/2461350935/wmfs http://jasonwryan.com/blog/2010/12/26/wmfs-window-manager-from-scratch/
Redirect 301 /post/2641542598/mailcheck http://jasonwryan.com/blog/2011/01/08/mail-checking-script/
Redirect 301 /post/2717707674/intuxication http://jasonwryan.com/blog/2011/01/13/intuxication/
Redirect 301 /post/2921582689/urgency http://jasonwryan.com/blog/2011/01/25/setting-urgent-hints-in-dwm/
Redirect 301 /post/4387273119/vim-console http://jasonwryan.com/blog/2011/04/06/vim-colours-in-the-console/
Redirect 301 /post/4575299833/surfraw http://jasonwryan.com/blog/2011/04/13/archwiki-elvis-for-surfraw/
Redirect 301 /post/5213806343/w3m http://jasonwryan.com/blog/2011/05/05/w3m/
Redirect 301 /post/5795831283/tyrs http://jasonwryan.com/blog/2011/05/24/tyrs-ncurses-twitter-client/
Redirect 301 /post/5925805350/quora http://jasonwryan.com/blog/2011/05/28/quoras-quandary/
Redirect 301 /post/6234399965/ubuntu-pulse http://jasonwryan.com/blog/2011/06/06/network-flooding-on-ubuntu/
Redirect 301 /post/6279048610/tmux-copy http://jasonwryan.com/blog/2011/06/07/copy-and-paste-in-tmux/
Redirect 301 /post/6381226449/tmux-status http://jasonwryan.com/blog/2011/06/10/setting-tmux-statusbar-if-in-x/
Redirect 301 /post/6922753155/vimprobable2 http://jasonwryan.com/blog/2011/06/26/using-vimprobable/
Redirect 301 /post/7796086618/bash http://jasonwryan.com/blog/2011/07/19/script-to-edit-config-files/
Redirect 301 /post/9949679577/tarsnap http://jasonwryan.com/blog/2011/09/08/tarsnap/
Redirect 301 /post/10024794419/ssh http://jasonwryan.com/blog/2011/09/10/tmux-and-ssh-keys/
Redirect 301 /post/10736787222/delicious http://jasonwryan.com/blog/2011/09/28/delicious/
Redirect 301 /post/10860316800/pinboard http://jasonwryan.com/blog/2011/10/01/pinboard-elvis/
Redirect 301 /post/12460674834/inotify http://jasonwryan.com/blog/2011/11/07/irc-dzen/
Redirect 301 /post/12956115113/microserver http://jasonwryan.com/blog/2011/11/18/microserver/
Redirect 301 /post/13177055327/rsync http://jasonwryan.com/blog/2011/11/28/rsync/
Redirect 301 /post/13494126076/rtorrent http://jasonwryan.com/blog/2011/11/29/rtorrent/
Redirect 301 /post/13580317970/readline http://jasonwryan.com/blog/2011/12/01/readline/
Redirect 301 /post/14396807766/tty http://jasonwryan.com/blog/2011/12/18/login/
Redirect 301 /post/15468357815/monsterwm http://jasonwryan.com/blog/2012/01/18/monsterwm/
Redirect 301 /post/17404257048/lvm-luks-raid http://jasonwryan.com/blog/2012/02/11/lvm/
Redirect 301 /post/17510173751/chroot http://jasonwryan.com/blog/2012/02/13/chroot/
Redirect 301 /post/18986441042/aurphans http://jasonwryan.com/blog/2012/03/09/aurphan/
Redirect 301 /post/19433338405/vampires http://jasonwryan.com/blog/2012/03/17/vampires/
Redirect 301 /post/19751467083/keysigning http://jasonwryan.com/blog/2012/03/23/key/ 
