// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

//$header-bg: #263347;
//$subtitle-color: lighten($header-bg, 58);
//$nav-bg: desaturate(lighten(#8fc17a, 18), 5);
//$nav-bg-front: image-url('noise.png');
//$nav-bg-back: linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11));
//$sidebar-bg: desaturate(#eceff5, 8);
//$sidebar-link-color: saturate(#526f9a, 10);
//$sidebar-link-color-hover: darken(#7ab662, 9);
//$footer-bg: #ccc !default;
//$footer-bg-front: image-url('noise.png');
//$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11));


/* To use the light Solarized highlighting theme uncomment the following line */
//$solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
$base03:          #CCCCCC; //code background: light grey
$base02:          #5E5E5E; //dark blue
$base01:          #222222; //darkest gray
$base00:          #333333; //dark gray
$base0:           #899CA1; //medium gray
$base1:           #93a1a1; //medium light gray
$base2:           #eee8d5; //cream
$base3:           #C0C0C0; //white
$solar-yellow:    #BF85CC;
$solar-orange:    #914E89;
$solar-red:       #CF4F88;
$solar-magenta:   #5E468C;
$solar-violet:    #7F62B3;
$solar-blue:      #4779B3;
$solar-cyan:      #47959E;
$solar-green:     #287373;


/* Non highlighted code colors */
$pre-bg: $base03;
$pre-border: darken($base02, 5);
$pre-color: $base1;
