// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.file {
    color: #000;
    font-family: monospace;
}

hr {
     background-color: #AAAAAA;
     border: 0pt none;
     color: #AAAAAA;
     height: 1px;
     margin-bottom: 2em;
     width: 100%;
}

kbd {
     background: none repeat scroll 0% 0% #E9E9E9;
     border-bottom: 1px solid #AAAAAA;
     border-right: 1px solid #AAAAAA;
     display: inline;
     font-family: monospace;
     font-size: 0.8em;
     font-weight: normal;
     padding: 1px 5px;
}

.credit { float: right; }
